Redirect /Sunshine/MonteM/MonteMH http://elibraver.com/Sunshine/MonteM/MonteMA/
Redirect /Sunshine/MonteM/MonteMH/ http://elibraver.com/Sunshine/MonteM/MonteMA/
Redirect /Sunshine/MonteM/MonteMG http://elibraver.com/Sunshine/MonteM/MonteMC/
Redirect /Sunshine/MonteM/MonteMG/ http://elibraver.com/Sunshine/MonteM/MonteMC/